{{/***
Element Parameters
---------------------------------------------
$.currentPage		Element content
$.class: 			Element extra class name
$.position			Sidebar position left | right
*/}}

{{- $position := "left" -}}
{{ if isset $ "position" }}
	{{ $position = $.position }}
{{ end }}

{{- $class := "pe-xl-9 me-xl-2" -}}
{{- if eq $position "right" -}}
	{{- $class = "ps-xl-9 ms-xl-2" -}}
{{- end -}}

{{ if isset $ "class" }}
	{{ $class = $.class }}
{{ end }}

<aside class="primary-sidebar mt-12 pt-2 mt-lg-0 pt-lg-0 {{ $class -}}">
	{{ partial  "widgets/search"}}
	{{ partial  "widgets/category" (dict "currentPage" $.currentPage ) }}
	{{ partial  "widgets/posts" (dict "currentPage" $.currentPage ) }}
	{{ partial  "widgets/banner" (dict "currentPage" $.currentPage ) }}
	{{ partial  "widgets/tags" (dict "currentPage" $.currentPage ) }}
	{{ partial  "widgets/instagram" (dict "currentPage" $.currentPage "data" "widget_instagram" ) }}
</aside>