{{/***
Element Parameters
---------------------------------------------
$.class: 			Element extra class name
$.titleClass: 		Title extra Class
$.imageClass:   	Image extra Class
$.subtitleClass: 	Sub title extra class
$.descClass: 		Description extra class
$.contentClass:		Banner content class
$.btnClass: 		Banner button
$.image: 			Banner image
$.width: 			Width Image
$.height: 			Height Image
$.icon: 			Icon arrow icon
$.subtitle: 		Banner subtitle
$.title: 			Banner title
$.desc: 			Banner desc
$.btnContent:       Banner Content Button
$.altContent: 		Banner alt content
*/}}

{{- $class := "banner-03 hover-zoom-in hover-shine" -}}
{{- if isset $ "class" }}
{{- $class = $.class -}}
{{ end -}}

{{- $titleClass := "mb-5" -}}
{{- if isset $ "titleClass" }}
{{- $titleClass = $.titleClass -}}
{{ end -}}

{{- $imageClass := "object-fit-cover" -}}
{{- if isset $ "imageClass" }}
{{- $imageClass = $.imageClass -}}
{{ end -}}
{{- $imageClass := printf "card-img %s" $imageClass -}}

{{- $subtitleClass := "" -}}
{{- if isset $ "subtitleClass" }}
{{- $subtitleClass = $.subtitleClass -}}
{{ end -}}

{{- $descClass := "fs-18px fw-semibold text-body-emphasis" -}}
{{- if isset $ "descClass" }}
{{- $descClass = $.descClass -}}
{{ end -}}

{{- $contentClass := "px-11 pt-11 pb-9" -}}
{{- if isset $ "contentClass" }}
{{- $contentClass = $.contentClass -}}
{{ end -}}

{{- $btnClass := "btn-link text-decoration-none p-0 fs-6 fw-semibold" -}}
{{- if isset $ "btnClass" }}
{{- $btnClass = $.btnClass -}}
{{ end -}}

{{- $img := "" -}}
{{- if isset $ "image" }}
{{- $img = $.image -}}
{{ end -}}

{{- $img_dark := "" -}}
{{- if isset $ "img_dark" }}
{{- $img_dark = $.img_dark -}}
{{ end -}}

{{- $currentPage := "" -}}
{{- if isset $ "currentPage" }}
{{- $currentPage = $.currentPage -}}
{{ end -}}

{{- $ignore_dark_mode := $.ignore_dark_mode | default "false" -}}

<div class="card border-0 rounded-0 {{- if $class }} {{ $class }}{{ end }}" {{- if eq $ignore_dark_mode "true" }} data-bs-theme="light" {{- end -}}>
	{{- if $.image -}}
	{{  partial "the-image" (dict "currentPage" $currentPage "img" $img "img_dark" $img_dark "class" $imageClass "alt" $.altContent "width" $.width  "height" $.height) }}
	{{- end -}}
	<div class="card-img-overlay d-inline-flex flex-column {{- if $contentClass }} {{ $contentClass }}{{ end }}">
		{{- if $.subtitle -}}
		<h5 class="card-subtitle ls-1 {{- if $subtitleClass }} {{ $subtitleClass }}{{ end }}">{{ $.subtitle }}</h5>
		{{- end -}}
		{{- if $.title -}}
		<h3 class="card-title fw-semibold {{- if $titleClass }} {{ $titleClass }}{{ end }}">{{ $.title}}</h3>
		{{- end -}}
		{{- if $.desc -}}
		<p class="card-text {{- if $descClass }} {{ $descClass }}{{ end }}">{{ $.desc}}</p>
		{{- end -}}
		<div class="mt-auto">
			{{- if $.btnContent -}}
			<a href="#" class="btn {{- if $btnClass }} {{ $btnClass }}{{ end }}">{{ $.btnContent }}
				{{- if $.icon -}}
				<svg class="icon"><use xlink:href="#{{ $.icon }}"></use></svg>
				{{- end -}}
			</a>
			{{- end -}}
		</div>
	</div>
</div>
