{{/***
Element Parameters
---------------------------------------------
$.data				Members list

*/}}

{{- if $.data }}

<div class="card mb-7 p-7 rounded-4">
	<div class="card-body p-0">
		<h5 class="card-title fs-6 mb-4">Marketing Chanel</h5>
		{{ range $item := $.data }}
		<span class="text-muted fs-12px">{{$item.net}}</span>
		<div class="progress {{- if ne $item.last true}} mb-4 {{- end}}">
			<div class="progress-bar bg-primary" role="progressbar" style="width: {{$item.rate}}%">
				{{$item.rate}}%
			</div>
		</div>
		{{ end }}
	</div>
</div>

{{- end -}}