{{/***
Element Parameters
---------------------------------------------
$.class				Element class extra
*/}}
{{ $class := "ps-5" }}
{{- if isset $ "class" }}
{{- $class = $.class -}}
{{ end -}}

{{ $classToggle := "btn btn-link nav-link dropdown-toggle d-inline-flex align-items-center justify-content-center text-primary p-0 position-relative rounded-circle" }}
{{- if isset $ "classToggle" }}
{{- $classToggle = $.classToggle -}}
{{ end -}}

{{- $colorMode := $.currentPage.Site.Params.enableDarkMode -}}
{{- if eq $colorMode true -}}
<div class="color-modes position-relative {{ $class }}">
	<a class="bd-theme {{ $classToggle }}" href="#" aria-expanded="true" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (light)">
		<svg class="bi my-1 theme-icon-active"><use href="#sun-fill"></use></svg>
	</a>
	<ul class="dropdown-menu dropdown-menu-end fs-14px" data-bs-popper="static">
		<li>
			<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true">
				<svg class="bi me-4 opacity-50 theme-icon"><use href="#sun-fill"></use></svg>
				Light
				<svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
			</button>
		</li>
		<li>
			<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
				<svg class="bi me-4 opacity-50 theme-icon"><use href="#moon-stars-fill"></use></svg>
				Dark
				<svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
			</button>
		</li>
		<li>
			<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
				<svg class="bi me-4 opacity-50 theme-icon"><use href="#circle-half"></use></svg>
				Auto
				<svg class="bi ms-auto d-none"><use href="#check2"></use></svg>
			</button>
		</li>
	</ul>
</div>
{{- end -}}