{{/***
Element Parameters
---------------------------------------------
$.class				Element class extra
*/}}
{{- $class := "px-xl-5 d-inline-block" -}}

{{- if isset $ "class" }}
{{- $class = $.class -}}
{{ end -}}

<div class="{{ $class }}">
	<a class="lh-1 color-inherit text-decoration-none" href="#" data-bs-toggle="offcanvas"
	   data-bs-target="#searchModal"
	   aria-controls="searchModal"
	   aria-expanded="false">
		<svg class="icon icon-magnifying-glass-light">
			<use xlink:href="#icon-magnifying-glass-light"></use>
		</svg>
	</a>
</div>