{{/***
Element Parameters
---------------------------------------------
$	Element class extra
*/}}
{{- $class := "px-5 d-none d-xl-inline-block" -}}
{{- if $ }}
	{{- $class = $ -}}
{{ end -}}
<div class="{{ $class }}">
	<a class="lh-1 color-inherit text-decoration-none" href="#" data-bs-toggle="offcanvas"
	   data-bs-target="#searchModal"
	   aria-controls="searchModal"
	   aria-expanded="false">
		<svg class="icon icon-magnifying-glass-light fs-5">
			<use xlink:href="#icon-magnifying-glass-light"></use>
		</svg>
		<span class="fs-15px">Search</span>
	</a>
</div>