{{- define "main" -}}
	{{ partial "header" . }}
	<main id="content" class="wrapper layout-blocks">
		{{ .Content }}
	</main>
{{ partial "footer" . }}
{{- end -}}

{{- define "scripts" -}}
<link rel="stylesheet"
	  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/base16/railscasts.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.7/beautify-html.js"></script>
{{- end -}}

{{- define "footer" -}}
{{- partial "pieces/search-modal" . -}}
{{- partial "pieces/shopping-cart-modal" . -}}
{{- partial "pieces/sign-in-modal" . -}}
{{- partial "pieces/sign-up-modal" . -}}
{{- partial "pieces/quick-view-modal" . -}}
{{- partial "pieces/offcanvas-navbar" . -}}
{{- partial "docs/icons" . -}}
{{- partial "pieces/back-to-top" . -}}
{{- end -}}
