{{/***
Element Parameters
---------------------------------------------
$.slickSliderClass:		Slick slider Class
$.class:				Element extra class name
$.sliderClass: 			Slider Class
$.subtitleClass: 		Subtitle Class
$.titleClass: 			Title Class
$.DescClass: 			Desc Class
$.ButtonClass: 			Button Class
*/}}

{{- $currentPage := $.currentPage -}}

{{- $slickSliderClass := "" -}}
{{- if isset $ "slickSliderClass" }}
    {{- $slickSliderClass = $.slickSliderClass -}}
{{ end -}}

{{- $class := "" -}}
{{- if isset $ "class" }}
    {{- $class = $.class -}}
{{ end -}}

{{- $sliderClass := "container container-xxl py-21 pt-xl-10 pb-xl-11" -}}
{{- if isset $ "sliderClass" }}
    {{- $sliderClass = $.sliderClass -}}
{{ end -}}

{{- $subtitleClass := "text-body-emphasis mb-8 text-uppercase fw-semibold fs-15px" -}}
{{- if isset $ "subtitleClass" }}
    {{- $subtitleClass = $.subtitleClass -}}
{{ end -}}

{{- $titleClass := "mb-7 hero-title" -}}
{{- if isset $ "titleClass" }}
    {{- $titleClass = $.titleClass -}}
{{ end -}}

{{- $descClass := "fs-18px mb-11" -}}
{{- if isset $ "descClass" }}
    {{- $descClass = $.descClass -}}
{{ end -}}

{{- $button1Class := "btn btn-dark rounded btn-hover-bg-primary btn-hover-border-primary" -}}
{{- if isset $ "button1Class" }}
    {{- $button1Class = $.button1Class -}}
{{ end -}}

{{- $button2Class := "btn btn-link p-0 text-white" -}}
{{- if isset $ "button2Class" }}
    {{- $button2Class = $.button2Class -}}
{{ end -}}

{{- $contentClass := "" -}}
{{- if isset $ "contentClass" }}
{{- $contentClass = $.contentClass -}}
{{ end -}}

{{ $imgDark := "" }}

{{- $data := index $currentPage.Site.Data $.data -}}
{{- $ignore_dark_mode := $.ignore_dark_mode | default "false" -}}
<div class="slick-slider hero hero-{{$.currentPage.Page.Params.header}} {{- if $slickSliderClass}} {{$slickSliderClass}}{{- end}}"
		 data-slick-options='{{ $data.config | jsonify }}' {{- if eq $ignore_dark_mode "true" }} data-bs-theme="light" {{- end -}}>
    {{- if $data}}
        {{ range $index, $item := $data.items }}
			<div class="vh-100 d-flex align-items-center {{- if $class}} {{$class}}{{- end}}">
				<div class="z-index-2 {{if $sliderClass}}{{$sliderClass}}{{- end}}">
                    {{ partial "elements/hero/hero-element/content.html" (dict "currentPage" .
                    "subtitle" $item.subtitle
                    "title" $item.title
					"desc" $item.desc
					"price" $item.price
					"button1" $item.button1
					"button2" $item.button2
					"subtitleClass" $subtitleClass
					"titleClass" $titleClass
					"descClass" $descClass
					"button1Class" $button1Class
					"button2Class" $button2Class
					"contentClass" $contentClass
                    ) }}
				</div>
				{{- if isset $item "imgDark" }}
				{{- $imgDark = $item.imgDark -}}
				{{ end -}}
				{{ partial "overlay" (dict "currentPage" $currentPage "img" $item.img "imgDark" $imgDark) }}
				{{- if $data.creativeDots -}}
					{{ partial "elements/hero/hero-element/creative-dots" (dict "index" $index "data" $data) }}
				{{- end -}}
			</div>
        {{ end }}
    {{- end}}
</div>