{{/***
Element Parameters
---------------------------------------------
$.class: 			Element extra class name
$.currentPage: 		$.currentPage.Page, $.currentPage.Site
$.contentClass:		Product review content class
$.btnSubmit: 		Button Submit form
$.btnAdd:   		Button Add Photos
$title: 			Title Product review
$.icon: 			Icon camera icon
$.contentBtnAdd: 	Content Button Add
$.contentBtnSubmit: Content Button Submit
*/}}

{{- $class := "" -}}
{{- if isset $ "class" }}
	{{- $class = $.class -}}
{{ end -}}

{{- $data := index $.currentPage.Site.Data $.data -}}

<div class="{{- if $class }} {{ $class }}{{ end }}">
	<h3 class="fs-5">2947 Reviews</h3>
	{{ range $item := $data }}
	<div class="border-bottom pb-7 pt-10">
		<div class="d-flex align-items-center mb-6">
			{{- if $item.rate -}}
			{{ partial "elements/shop/items/rate" (dict "rate" $item.rate "align" "start" "size" "fs-15px")}}
			{{- end }}
			<span class="fs-3px mx-5"><i class="fas fa-circle"></i></span>
			<span class="fs-14">{{ $item.date}}  day ago</span>
		</div>

		<div class="d-flex justify-content-start align-items-center mb-5">
			<img src="#" data-src="{{ $item.image_avt }}" class="me-6 lazy-image rounded-circle" width="60" height="60" alt="Avatar">
			<div class="">
				<h5 class="mt-0 mb-4 fs-14px text-uppercase ls-1">{{ $item.name }}</h5>
				<p class="mb-0">/ {{ $item.sub }}</p>
			</div>
		</div>
		<p class="fw-semibold fs-6 text-body-emphasis mb-5">{{ $item.title }}</p>
		<p class="mb-10 fs-6">{{ $item.desc }}</p>

		{{ if $item.image_review }}
		<div class="mb-10">
			{{- range $img := $item.image_review -}}
				<img src="#" data-src="{{ $img.img }}" class="mx-3 w-auto lazy-image" alt="">
			{{ end }}
		</div>
		{{ end }}
		<div class="d-flex justify-content-end align-items-center">
			<a href="#" class="fs-14px mb-0 text-secondary">Was This Review Helpful?</a>
			<p class="mb-0 ms-7 text-body-emphasis">
				<svg class="icon icon-like align-baseline">
					<use xlink:href="#icon-like"></use>
				</svg>
				{{ $item.like }}
			</p>
			<p class="mb-0 ms-6 text-body-emphasis">
				<svg class="icon icon-unlike align-baseline">
					<use xlink:href="#icon-unlike"></use>
				</svg>
				{{ $item.dislike }}
			</p>
		</div>
	</div>
	{{ end }}
</div>

