<ul class="list-inline fs-5 mb-0">
	<li class="list-inline-item me-8">
		<a class="text-light" href="#">
			<i class="fab fa-pinterest-p"></i>
		</a>
	</li>
	<li class="list-inline-item me-8">
		<a class="text-light" href="#">
			<i class="fab fa-facebook-f"></i>
		</a>
	</li>
	<li class="list-inline-item me-8">
		<a class="text-light" href="#">
			<i class="fab fa-instagram"></i>
		</a>
	</li>
	<li class="list-inline-item">
		<a class="text-light" href="#">
			<i class="fab fa-twitter"></i>
		</a>
	</li>
</ul>