.shop-widget-cate-text:hover{
	color: black !important;
	text-decoration: none !important;
}
.sort-chosen-item:hover{
	background-color: #e9ecef !important;
	cursor: pointer !important;
	.chosen-item:hover{
		color: black !important;
		text-decoration: none !important;
	}
}
.icon-squares-four:hover{
	color: black !important;
}