<header id="header" class="header header-sticky header-sticky-smart disable-transition-all z-index-5">
	<div class="topbar bg-primary">
		<div class="container-wide container">
			<p class="mb-0 text-white text-center p-4 fs-6 fw-semibold">Free shipping on all U.S. orders $50+</p>
		</div>
	</div>
	<div class="sticky-area">
		<div class="main-header nav navbar bg-body navbar-light navbar-expand-xl py-6 py-xl-0">
			<div class="container-wide container flex-nowrap">
				{{ partial "header/items/menu-mobile-toggle" }}
				<div class="d-none d-xl-flex w-xl-50">
					<ul class="navbar-nav">
						{{ partial "menu/menu-default" (dict "page" . "nav_item_class" "py-11 me-xxl-12 me-xl-10" "nav_link_class" "py-0 px-0 text-uppercase fw-semibold ls-1 fs-14px" ) }}
					</ul>
				</div>
				{{ partial "header/items/logo" (dict "context" . ) }}
				<div class="icons-actions d-flex justify-content-end w-xl-50 fs-28px text-body-emphasis">
					{{ partial "header/items/icon-search" }}
					{{ partial "header/items/icon-account" }}
					{{ partial "header/items/icon-wishlist" }}
					{{ partial "header/items/icon-cart" }}
					{{ partial "header/items/color-modes" (dict "currentPage" . )}}
				</div>
			</div>
		</div>
	</div>
</header>
