<header id="header" class="header header-14 header-sticky header-transparent header-sticky-smart disable-transition-all position-absolute start-0 end-0 z-index-5">
	<div class="sticky-area main-header unset-mode-when-sticky" data-bs-theme="light">
		<div class="container-wide container">
			<div class="nav navbar px-0 d-block px-xxl-12 py-7 py-xl-30px sticky-py-xl-8">
				<div class="d-flex align-items-center flex-nowrap">
					<div class="w-50 d-flex align-items-center justify-content-start">
                        {{ partial "header/items/logo" (dict "context" . "logo_dark" "/assets/images/others/logo.png" "stickyLogo" "" "class" "p-0" ) }}
					</div>
					<div class="w-50 d-flex align-items-center justify-content-end">
						{{ partial "header/items/color-modes" (dict "currentPage" . "class" "px-5")}}
						{{ partial "header/items/menu-mobile-toggle" (dict "classWrapper" "")}}
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

