<header id="header" class="header header-sticky z-index-5 header-sticky-smart disable-transition-all position-absolute start-0 end-0">
	<div class="sticky-area">
		<div class="main-header nav navbar navbar-light navbar-expand-xl py-6 py-xl-0">
			<div class="container-wide container flex-nowrap">
				{{ partial "header/items/menu-mobile-toggle" }}
                {{ partial "header/items/logo" (dict "context" . "logo_dark" "/assets/images/others/logo-white.png" "stickyLogo" "" "class" "py-4 mx-auto w-xl-50" ) }}
				<div class="d-none d-xl-flex w-xl-50">
					<ul class="navbar-nav">
						{{ partial "menu/menu-default" (dict "page" . "nav_item_class" "py-xl-11 py-0 me-xxl-12 me-xl-10" "nav_link_class" "py-xl-0 px-xl-0 text-uppercase fw-semibold ls-1 fs-15px fs-xl-14px" ) }}
					</ul>
				</div>
				<div class="icons-actions d-flex justify-content-end w-xl-50 fs-28px text-body-emphasis">
                    {{ partial "header/items/icon-search" }}
                    {{ partial "header/items/icon-account" }}
                    {{ partial "header/items/icon-wishlist" }}
                    {{ partial "header/items/icon-cart" }}
					{{ partial "header/items/color-modes" (dict "currentPage" .  "classToggle" "btn btn-link nav-link dropdown-toggle d-inline-flex align-items-center justify-content-center p-0 position-relative rounded-circle")}}
				</div>
			</div>
		</div>
	</div>
</header>
