<div class="menumega-docs px-8" style="min-width: 250px">
	{{ range $index, $item := $.Site.Data.menumega_docs }}
		{{ if ne $index 0 }}
			<hr class="dropdown-divider mx-n8" />
		{{ end }}
		<a href="{{ $item.url }}" class="d-flex text-decoration-none mb-4 mb-lg-0" title="{{ $item.title }}" {{- if $item.target }} target="_blank" {{- end -}}>
			<div class="flex-shrink-0 fs-5 lh-1 text-muted pt-2">
				{{ partial "svg-icon" $item.icon }}
			</div>
			<div class="flex-grow-1 ps-6">
				<h6 class="mb-2">{{ $item.title }}</h6>
				<small>{{ $item.desc }}</small>
			</div>
		</a>
	{{ end }}
</div>