{{/***
Element Parameters
---------------------------------------------
$.boxTitleClass: 	Box title extra class
$.titleClass: 		Title extra class
$.boxButtonClass: 	Box button extra class
$.buttonClass: 		Button extra class
$.data: 			Shop data
*/}}

{{- $boxTitleClass := "text-center align-middle bg-body-tertiary p-5" -}}
{{- if isset $ "boxTitleClass" }}
    {{- $boxTitleClass = $.boxTitleClass -}}
{{ end -}}

{{- $titleClass := "fs-6 text-body-emphasis fw-500" -}}
{{- if isset $ "titleClass" }}
    {{- $titleClass = $.titleClass -}}
{{ end -}}

{{- $boxButtonClass := "px-6 text-center align-middle py-7" -}}
{{- if isset $ "boxButtonClass" }}
    {{- $boxButtonClass = $.boxButtonClass -}}
{{ end -}}

{{- $buttonClass := "btn btn-dark btn-hover-bg-primary border-0 py-4" -}}
{{- if isset $ "buttonClass" }}
    {{- $buttonClass = $.buttonClass -}}
{{ end -}}

{{- $data := index $.currentPage.Site.Data $.data -}}

<div class="table-responsive-xl">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col" class="{{- if $boxTitleClass}}{{$boxTitleClass}}{{- end}}">
					<span class="{{- if $titleClass}}{{$titleClass}}{{- end}}">Products</span>
				</th>
				{{- if $data}}
                	{{ range $item := $data }}
						<th scope="col" class="pb-9">
							<p class="fs-18px text-center mt-4 mb-6 text-body-emphasis fw-semibold">{{ $item.title}}</p>
							<a href="#" class="text-center d-block">
								<img src="#" data-src="{{ $item.image}}" class="lazy-image" alt="Priming Moisturize" style="max-width: 210px" width="210" height="280">
							</a>
						</th>
					{{ end }}
				{{- end}}
			</tr>
		</thead>
		<tbody>
		<tr>
			<th scope="col" class="{{- if $boxTitleClass}}{{$boxTitleClass}}{{- end}}">
				<span class="{{- if $titleClass}}{{$titleClass}}{{- end}}">Customer Rattings</span>
			</th>
            {{- if $data}}
                {{ range $item := $data }}
					<th scope="col" class="px-6 px-lg-9 align-middle">
						<div class="d-flex align-items-center">
							<span class="fw-semibold text-body-emphasis me-6 fs-15px">{{ $item.point }}</span>
							<ul class="list-inline mb-0 lh-0 flex-shrink-0">
								<li class="list-inline-item fs-12px text-primary me-0"><i class="fas fa-star"></i></li>
								<li class="list-inline-item fs-12px text-primary me-0"><i class="fas fa-star"></i></li>
								<li class="list-inline-item fs-12px text-primary me-0"><i class="fas fa-star"></i></li>
								<li class="list-inline-item fs-12px text-primary me-0"><i class="fas fa-star"></i></li>
								<li class="list-inline-item fs-12px text-primary me-0"><i class="fas fa-star"></i></li>
							</ul>
							<span class="ms-4 fs-14px ps-4 lh-1 text-body border-start me-4 pe-2 fw-500">{{ $item.reviews }}</span>
						</div>
					</th>
                {{ end }}
            {{- end}}
		</tr>
		<tr>
			<th scope="col" class="{{- if $boxTitleClass}}{{$boxTitleClass}}{{- end}}">
				<span class="{{- if $titleClass}}{{$titleClass}}{{- end}}">Price</span>
			</th>
            {{- if $data}}
                {{ range $item := $data }}
					<th scope="col" class="px-6 px-lg-9 align-middle">
						<span class="pe-3 fs-18px font-weight-bold text-body-emphasis">{{$item.price}}</span>
						{{- if $item.oldprice}}
						<span class="fs-15px fw-500 text-decoration-line-through text-body ">{{$item.oldprice}}</span>
						{{- end}}
						{{- if $item.discount}}
						<span class="badge bg-primary ms-4 fs-6">{{$item.discount}}</span>
						{{- end}}
					</th>
                {{ end }}
            {{- end}}
		</tr>
		<tr>
			<th scope="col" class="{{- if $boxTitleClass}}{{$boxTitleClass}}{{- end}}">
				<span class="{{- if $titleClass}}{{$titleClass}}{{- end}}">Stock Status</span>
			</th>
            {{- if $data}}
                {{ range $item := $data }}
					{{- if $item.status}}
						<th scope="col" class="px-6 px-lg-9 align-middle">
							<i class="fas fa-check fs-12px px-2 py-1 rounded-circle bg-primary text-white d-inline-flex align-items-center justify-content-center"></i>
							<span class="fs-15px fw-500 ms-3">{{$item.status}}</span>
						</th>
					{{- end}}
                {{ end }}
            {{- end}}
		</tr>
		<tr>
			<th scope="col" class="{{- if $boxTitleClass}}{{$boxTitleClass}}{{- end}}">
				<span class="{{- if $titleClass}}{{$titleClass}}{{- end}}">Shipping</span>
			</th>
            {{- if $data}}
                {{ range $item := $data }}
                    {{- if $item.shipping}}
						<th scope="col" class="px-6 px-lg-9 align-middle fs-15px fw-500">{{$item.shipping}}</th>
                    {{- end}}
                {{ end }}
            {{- end}}
		</tr>
		<tr>
			<th scope="col" class="{{- if $boxTitleClass}}{{$boxTitleClass}}{{- end}}">
				<span class="{{- if $titleClass}}{{$titleClass}}{{- end}}">Sold</span>
			</th>
            {{- if $data}}
                {{ range $item := $data }}
                    {{- if $item.sold}}
						<th scope="col" class="px-6 px-lg-9 align-middle fs-15px fw-500">{{$item.sold}}</th>
                    {{- end}}
                {{ end }}
            {{- end}}
		</tr>
		<tr>
			<th scope="col" class="bg-body-tertiary">
			</th>
			<th scope="col" class="{{- if $boxButtonClass}}{{$boxButtonClass}}{{- end}}">
				<a href="#" class="{{- if $buttonClass}}{{$buttonClass}}{{- end}}">Add To Cart</a>
			</th>
			<th scope="col" class="{{- if $boxButtonClass}}{{$boxButtonClass}}{{- end}}">
				<a href="#" class="{{- if $buttonClass}}{{$buttonClass}}{{- end}}">Add To Cart</a>
			</th>
			<th scope="col" class="{{- if $boxButtonClass}}{{$boxButtonClass}}{{- end}}">
				<a href="#" class="{{- if $buttonClass}}{{$buttonClass}}{{- end}}">Add To Cart</a>
			</th>
		</tr>
		</tbody>
	</table>
</div>