<footer class="pt-16 pt-lg-19 pb-16 footer">
	<div class="container container-xxl pt-4">
		<div class="row">
			<div class="col-lg-5 col-12 mb-11 mb-lg-0">
                {{ partial "footer/widgets/find-a-store" (dict "title" "Care for Your Skin, <br> Care for Your Beauty"
                "titleClass" "text-primary"
                "subtitle" "Give your inbox some love with new products, tips, & more.") }}
				{{ partial "footer/widgets/form" (dict "class" "lh-1 py-7" "formClass" "pt-6 pe-xl-8 form-border-transparent")}}
			</div>
			<div class="col-md col-12 mb-11 mb-lg-0 offset-lg-2">
                {{ partial "footer/widgets/widget-title" (dict "title" "About us")}}
                {{ partial "footer/widgets/menu" (dict
                "subtitleClass" "text-body"
				"data" $.Site.Data.footer_menu_company ) }}
			</div>
			<div class="col-md col-12 mb-11 mb-lg-0">
                {{ partial "footer/widgets/widget-title" (dict "title" "Information")}}
                {{ partial "footer/widgets/menu" (dict
                "subtitleClass" "text-body"
				"data" $.Site.Data.footer_menu_information ) }}
			</div>
		</div>
		{{ partial "footer/widgets/bottom-bar" (dict
		"context" .
		"socialClass" "col-sm-12 col-md-6 col-lg-4 d-flex align-items-center order-2 order-lg-1 fs-6 mt-7 mt-md-11 mt-lg-0"
		"paypalClass" "col-sm-12 col-md-6 col-lg-4 order-3 text-sm-start text-lg-end mt-7 mt-md-11 mt-lg-0")}}
	</div>
</footer>