<footer class="footer">
	<div class="container-fluid px-xl-21 px-lg-15">
        {{ partial "footer/widgets/bottom-bar" (dict
        "context" .
        "class" "py-lg-11 py-16 border-top"
			"imgLogoClass" "text-center"
        "socialClass" "col-sm-12 col-md-6 col-lg-4 d-flex align-items-center order-2 order-lg-1 fs-6 mt-11 mt-lg-0 justify-content-center justify-content-md-start"
        "paypalClass" "col-sm-12 col-md-6 col-lg-4 order-3 text-center text-md-end mt-11 mt-lg-0")}}
	</div>
</footer>